
label, input{
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #1b2140;
}

input{
  padding: 0px 10px;
}

.invalid-field{
  color: red;
  font-style: italic;
  margin-top: 5px;
  font-size: 13px;
}
