<div class="d-flex justify-content-start">
    <div class="col-sm-3">
        <label>{{fieldLabel}}:</label>
    </div>
    <div class="col-sm-9">
        <input type="{{fieldType}}" (keyup)="onFieldValueChange()" [(ngModel)]="fieldValue" name="{{fieldLabel.toLowerCase()}}" #field_value="ngModel">
        <div *ngIf="field_value?.invalid && (field_value?.dirty || field_value?.touched)" class="invalid-field">
            <div *ngIf="field_value?.errors?.required">
                {{fieldLabel}} is a mandatory field.
            </div>
            <div *ngIf="field_value?.errors?.minlength">
                {{fieldLabel}} must be equal to or greater than 8 characters.
            </div>
        </div>
    </div>
</div>

