.mat-dialog-container {
  padding: 20px !important;
}

.mat-dialog-actions {
  padding: 20px 0px 0px 0px;
  margin-bottom: 0px;
  height: 36px !important;
  min-height: 36px;
  border-top: 1px solid #dee2e6;
}

.modal-title{
    font-size: 20px;
    font-weight: bold;
}

.modal-header {
  padding: 0px 0px 20px 10px;
  height: 40px;
}

.modal-body{
  padding: 0px;
  max-height: 600px;
  margin-top: 25px;

  label, input{
    width: 100%;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    padding: 0px 10px;
  }
}

.field-div{
  height: 50px;
}

.result-item-div{
  height: fit-content;
}


