<div class="modal-header">
    <label class="modal-title pull-left">Result</label>
    <button mat-icon-button color="{{buttonColor}}" class="pull-right" aria-label="Close" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content class="mat-typography">
<div class="modal-body">
    <div *ngFor="let resultItem of result" class="field-div row">
        <div class="col-sm-5 result-item-div d-flex align-items-center">
            <label>{{resultItem?.field}}:</label>
        </div>
        <div class="col-sm-7 result-item-div d-flex align-items-center">
            <input type="text" [value]="resultItem?.value" [disabled]="true">
        </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="{{buttonColor}}" mat-button (click)="dialogRef.close()">Close</button>
</mat-dialog-actions>


