
<div class="btn-div">
    <button routerLink="/about-me" [hidden]="!showAboutMeBtn" mat-fab matTooltip="About Me" matTooltipClass="fab-tooltip" class="btn about-me-btn">
        <mat-icon>person_outline</mat-icon>
    </button>
    <button routerLink="/home" [hidden]="!showHomeBtn" mat-fab matTooltip="Home" color="warn" matTooltipClass="fab-tooltip" class="btn home-btn"> H </button>
    <button routerLink="/reactive-form" [hidden]="!showReactiveFormsBtn" mat-fab matTooltip="Reactive Forms" matTooltipClass="fab-tooltip" color="accent" class="btn"> R </button>
    <button routerLink="/template-driven-form" [hidden]="!showTemplateDrivenFormsBtn" mat-fab matTooltip="Template Driven Forms" matTooltipClass="fab-tooltip" color="primary" class="btn"> T </button>
</div>

<router-outlet (activate)="appRouteChanged($event)"></router-outlet>
