.btn-div{
  position: absolute;
  top: 0px;
  width: 100%;
}

.btn{
  margin: 25px;
  font-weight: bolder;
  font-size: 20px;
  float: right;
}

/deep/ .mat-fab .mat-button-wrapper {
  padding: 0px !important;
  line-height: 56px !important;
  width: 56px !important;
}

.about-me-btn{
  float: left;
  background-color: #d6a514;

  .mat-icon {
    height: 56px;
    width: 56px;
    line-height: 53px;
    font-size: 30px;
  }
}
