.home-btn-div{
  width: 100%;
  height: 80%;
}

.template-driven-btn-div, .reactive-btn-div{
  width:100%;
  height: 50%;
  padding: 30px;
}

button{
  width: 400px;
  height: 80px;
  border-radius: 80px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 7px 0px #000000 !important;
}
