<div class="body">
    <h1 class="page-title">{{title}}</h1>

    <div class="home-btn-div">
        <div class="template-driven-btn-div d-flex justify-content-center align-items-end flex-row">
            <button mat-raised-button color="primary" [routerLink]="'/template-driven-form'" [routerLinkActive]="'active'">Template Driven Forms</button>
        </div>
        <div class="reactive-btn-div d-flex justify-content-center align-items-start flex-row">
            <button mat-raised-button color="accent" [routerLink]="'/reactive-form'" [routerLinkActive]="'active'">Reactive Forms</button>
        </div>
    </div>
</div>

