<div class="body">
    <h1 class="page-title"> Template Driven Forms </h1>

    <mat-expansion-panel [(expanded)]="panelExpandStatus[0]" (expandedChange)="expandPanel(0, $event)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Form 1 &nbsp;-&nbsp;</b> Two-way data-binding + Validations
            </mat-panel-title>
            <mat-panel-description>
                (  Bi-directional data flow using [(ngModel)]  )
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-between">
            <div class="panel-content">
                <h2>Demo</h2>
                <div class="basic-template-driven-form-div form-div">
                    <form #form1="ngForm" (ngSubmit)="submitForm()">
                        <div class="field-div row">
                            <div class="col-sm-3">
                                <label>Username:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="user.username" name="username" #username_f1="ngModel" required>
                                <div *ngIf="username_f1?.invalid && (username_f1?.dirty || username_f1?.touched)" class="invalid-field">
                                    <div *ngIf="username_f1?.errors?.required">
                                        Username is a mandatory field.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-div row">
                            <div class="col-sm-3">
                                <label>Password:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="password" [(ngModel)]="user.password" name="password" #password_f1="ngModel" required minlength="8">
                                <div *ngIf="password_f1?.invalid && (password_f1?.dirty || password_f1?.touched)" class="invalid-field">
                                    <div *ngIf="password_f1?.errors?.required">
                                        Password is a mandatory field.
                                    </div>
                                    <div *ngIf="password_f1?.errors?.minlength">
                                        Password must be equal to or greater than 8 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-div d-flex justify-content-end">
                            <button type="submit" mat-raised-button color="primary" [disabled]="form1.invalid" class="submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-content">
                <h2>Code</h2>
                <div class="form-code-div">
                    <span>{{form1Code}}</span>
                </div>
            </div>
        </div>
    </mat-expansion-panel>


    <mat-expansion-panel [(expanded)]="panelExpandStatus[1]" (expandedChange)="expandPanel(1, $event)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Form 2 &nbsp;-&nbsp;</b> One-way data-binding + Validations
            </mat-panel-title>
            <mat-panel-description>
                (  Uni-directional data flow using [ngModel]  )
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-between">
            <div class="panel-content">
                <h2>Demo</h2>
                <div class="basic-template-driven-form-div form-div">
                    <form #form2="ngForm" (ngSubmit)="submitForm(form2.value)">
                        <div class="field-div row">
                            <div class="col-sm-3">
                                <label>Username:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" [ngModel]="user.username" name="username" #username_f2="ngModel" required>
                                <div *ngIf="username_f2?.invalid && (username_f2?.dirty || username_f2?.touched)" class="invalid-field">
                                    <div *ngIf="username_f2?.errors?.required">
                                        Username is a mandatory field.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-div row">
                            <div class="col-sm-3">
                                <label>Password:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="password" [ngModel]="user.password" name="password" #password_f2="ngModel" required minlength="8">
                                <div *ngIf="password_f2?.invalid && (password_f2?.dirty || password_f2?.touched)" class="invalid-field">
                                    <div *ngIf="password_f2?.errors?.required">
                                        Password is a mandatory field.
                                    </div>
                                    <div *ngIf="password_f2?.errors?.minlength">
                                        Password must be equal to or greater than 8 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-div d-flex justify-content-end">
                            <button type="submit" mat-raised-button color="primary" [disabled]="form2.invalid" class="submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-content">
                <h2>Code</h2>
                <div class="form-code-div">
                    <span>{{form2Code}}</span>
                </div>
            </div>
        </div>
    </mat-expansion-panel>


    <mat-expansion-panel [(expanded)]="panelExpandStatus[2]" (expandedChange)="expandPanel(2, $event)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Form 3 &nbsp;-&nbsp;</b> Without initial data-binding + Validations
            </mat-panel-title>
            <mat-panel-description>
                (  No data binding using ngModel  )
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-between">
            <div class="panel-content">
                <h2>Demo</h2>
                <div class="basic-template-driven-form-div form-div">
                    <form #form3="ngForm" (ngSubmit)="submitForm(form3.value)">
                        <div class="field-div row">
                            <div class="col-sm-3">
                                <label>Username:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" ngModel name="username" #username_f3="ngModel" required>
                                <div *ngIf="username_f3?.invalid && (username_f3?.dirty || username_f3?.touched)" class="invalid-field">
                                    <div *ngIf="username_f3?.errors?.required">
                                        Username is a mandatory field.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-div row">
                            <div class="col-sm-3">
                                <label>Password:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="password" ngModel name="password" #password_f3="ngModel" required minlength="8">
                                <div *ngIf="password_f3?.invalid && (password_f3?.dirty || password_f3?.touched)" class="invalid-field">
                                    <div *ngIf="password_f3?.errors?.required">
                                        Password is a mandatory field.
                                    </div>
                                    <div *ngIf="password_f3?.errors?.minlength">
                                        Password must be equal to or greater than 8 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-div d-flex justify-content-end">
                            <button type="submit" mat-raised-button color="primary" [disabled]="form3.invalid" class="submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-content">
                <h2>Code</h2>
                <div class="form-code-div">
                    <span>{{form3Code}}</span>
                </div>
            </div>
        </div>
    </mat-expansion-panel>


    <mat-expansion-panel [(expanded)]="panelExpandStatus[3]" (expandedChange)="expandPanel(3, $event)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Form 4 &nbsp;-&nbsp;</b> Two-way data-binding between parent and child components + Validations
            </mat-panel-title>
            <mat-panel-description>
                (  Bi-directional data flow using @Input() and @Output()  )
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-between">
            <div class="panel-content">
                <h2>Demo</h2>
                <div class="basic-template-driven-form-div form-div">
                    <form #form4="ngForm" (ngSubmit)="submitForm()">
                        <div class="field-div row">
                            <app-form-field [form]="form4" [fieldLabel]="'Username'" [fieldType]="'text'" [(fieldValue)]="user.username" [validators]="usernameValidators"></app-form-field>
                        </div>
                        <div class="field-div row">
                            <app-form-field [form]="form4"  [fieldLabel]="'Password'" [fieldType]="'password'" [(fieldValue)]="user.password" [validators]="passwordValidators"></app-form-field>
                        </div>
                        <div class="button-div d-flex justify-content-end">
                            <button type="submit" mat-raised-button color="primary" [disabled]="form4.invalid" class="submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-content">
                <h2>Code</h2>
                <div class="form-code-div">
                    <span>{{form4Code}}</span>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>
