mat-expansion-panel{
  margin: 50px;
  box-shadow: 0 0 7px 0px #000000 !important;
}

.mat-expansion-panel-header,  .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header:hover{
  background: #3f51b4;
  height: 50px;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: #3f51b4;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background: #3f51b4;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-grow: 0;
  margin-right: 25px;
}

.mat-expansion-panel-header-title {
  color: #efefef;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.mat-expansion-panel-header-description  {
  color: #efefef !important;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/deep/ .mat-expansion-indicator::after{
  color: #efefef !important;
}

mat-expansion-panel {
  background-color: #c1c4d4 !important;
  color: #1b2140;
}

.panel-content{
  width: calc(50% - 50px);
  padding: 15px;
}

.form-div, .form-code-div{
  padding: 15px 35px;
  width: 100%;
  height: 250px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: scroll;
  background: #efefef;
}

.form-code-div{
  white-space: pre;
  font-family: monospace;
  font-size: 12px;
}

.field-div{
  height: 50px;
  margin-top: 25px;
}

label, input{
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #1b2140;
}

input{
  padding: 0px 10px;
}

.invalid-field{
  color: red;
  font-style: italic;
  margin-top: 5px;
  font-size: 13px;
  text-align: right;
}

.button-div{
  margin-top: 15px;
}
