/* You can add global styles to this file, and also import other style files */

.mat-raised-button.mat-accent, .mat-fab.mat-accent,{
  background-color: #ab2552;
}

.mat-icon-button.mat-accent{
  color: #ab2552;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #5f5f5f}

.mat-tooltip {
  white-space: pre-line;
}

.fab-tooltip{
  font-weight: bold;
  font-size: 13px;
}

.page-title{
  text-align: center;
  margin-top: 50px !important;
  margin-bottom: 70px !important;
  font-weight: bolder !important;
  font-size: 50px !important;
  color: #ffffff;
  text-shadow: 0 0 20px #000000;
}

.body{
  background: #5f5f5f;
  height: 100%;
}
