<h1 class="page-title"> Reactive Forms </h1>

<!-- ============= Form 1 ============= -->

<mat-expansion-panel [(expanded)]="panelExpandStatus[0]" (expandedChange)="expandPanel(0, $event)">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <b>Form 1 &nbsp;-&nbsp;</b> FormControl + Validations
        </mat-panel-title>
        <mat-panel-description>
            ( using [formControl] and setValue(...) )
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex justify-content-between">

        <div class="panel-content">
            <h2>Demo</h2>
            <div class="form-div form-div-small">

                <form (ngSubmit)="submitForm1()">

                    <div class="field-div row">
                        <div class="col-sm-3">
                            <label matTooltip="{{itemCodeToolTip}}" matTooltipClass="mat-tooltip">Item Code:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" [formControl]="itemCode">
                        </div>
                        <div *ngIf="itemCode?.invalid && (itemCode?.dirty || itemCode?.touched)" class="invalid-field">
                            <div *ngIf="itemCode?.errors?.required">
                                Item Code is a mandatory field.
                            </div>
                        </div>
                    </div>

                    <div class="field-div row">
                        <div class="col-sm-3">
                            <label matTooltip="{{quantityToolTip}}" matTooltipClass="mat-tooltip">Quantity:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="number" [formControl]="quantity" (keyup)="form1QuantityChanged()" (change)="form1QuantityChanged()">
                        </div>
                        <div *ngIf="quantity?.invalid && (quantity?.dirty || quantity?.touched)" class="invalid-field">
                            <div *ngIf="quantity?.errors?.required">
                                Quantity is a mandatory field.
                            </div>
                            <div *ngIf="quantity?.errors?.min">
                                Quantity must be greater than 0.
                            </div>
                            <div *ngIf="quantity?.errors?.max">
                                Quantity must be less than or equal 1000.
                            </div>
                        </div>
                    </div>

                    <div class="field-div row">
                        <div class="col-sm-3">
                            <label matTooltip="{{commentToolTip}}" matTooltipClass="mat-tooltip">Comment:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" [formControl]="comment">
                        </div>
                        <div *ngIf="comment?.invalid && (comment?.dirty || comment?.touched)" class="invalid-field">
                            <div *ngIf="comment?.errors?.required">
                                Comment is a mandatory field when Quantity is greater than or equal 500.
                            </div>
                        </div>
                    </div>

                    <div class="button-div d-flex justify-content-end">
                        <button type="submit" mat-raised-button color="accent" [disabled]="itemCode?.invalid || quantity?.invalid || comment?.invalid" class="submit-btn">Submit</button>
                    </div>

                </form>

            </div>
        </div>

        <div class="panel-content">
            <h2>Code</h2>
            <div class="form-code-div form-code-div-small">
                <span>{{form1Code}}</span>
            </div>
        </div>

    </div>
</mat-expansion-panel>

<!-- ============= Form 2 ============= -->
<mat-expansion-panel [(expanded)]="panelExpandStatus[1]" (expandedChange)="expandPanel(1, $event)">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <b>Form 2 &nbsp;-&nbsp;</b> FormGroup + Validations
        </mat-panel-title>
        <mat-panel-description>
            ( using [formGroup], [formControlName] and patchValue(...) )
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex justify-content-between">
        <div class="panel-content">
            <h2>Demo</h2>
            <div class="form-div form-div-small">

                <form [formGroup]="form2" (ngSubmit)="submitForm2()">

                    <div class="field-div row">
                        <div class="col-sm-3">
                            <label matTooltip="{{itemCodeToolTip}}" matTooltipClass="mat-tooltip">Item Code:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" [formControlName]="'itemCode'">
                        </div>
                        <div *ngIf="form2.get('itemCode')?.invalid && (form2.get('itemCode')?.dirty || form2.get('itemCode')?.touched)" class="invalid-field">
                            <div *ngIf="form2.get('itemCode')?.errors?.required">
                                Item Code is a mandatory field.
                            </div>
                        </div>
                    </div>

                    <div class="field-div row">
                        <div class="col-sm-3">
                            <label matTooltip="{{quantityToolTip}}" matTooltipClass="mat-tooltip">Quantity:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="number" [formControlName]="'quantity'" (keyup)="form2QuantityChanged()" (change)="form2QuantityChanged()">
                        </div>
                        <div *ngIf="form2.get('quantity')?.invalid && (form2.get('quantity')?.dirty || form2.get('quantity')?.touched)" class="invalid-field">
                            <div *ngIf="form2.get('quantity')?.errors?.required">
                                Quantity is a mandatory field.
                            </div>
                            <div *ngIf="form2.get('quantity')?.errors?.min">
                                Quantity must be greater than 0.
                            </div>
                            <div *ngIf="form2.get('quantity')?.errors?.max">
                                Quantity must be less than or equal 1000.
                            </div>
                        </div>
                    </div>

                    <div class="field-div row">
                        <div class="col-sm-3">
                            <label matTooltip="{{commentToolTip}}" matTooltipClass="mat-tooltip">Comment:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" [formControlName]="'comment'">
                        </div>
                        <div *ngIf="form2.get('comment')?.invalid && (form2.get('comment')?.dirty || form2.get('comment')?.touched)" class="invalid-field">
                            <div *ngIf="form2.get('comment')?.errors?.required">
                                Comment is a mandatory field when Quantity is greater than or equal 500.
                            </div>
                        </div>
                    </div>

                    <div class="button-div d-flex justify-content-end">
                        <button type="submit" mat-raised-button color="accent" [disabled]="form2.invalid" class="submit-btn">Submit</button>
                    </div>

                </form>

            </div>
        </div>

        <div class="panel-content">
            <h2>Code</h2>
            <div class="form-code-div form-code-div-small">
                <span>{{form2Code}}</span>
            </div>
        </div>

    </div>
</mat-expansion-panel>

<!-- ============= Form 3 ============= -->
<mat-expansion-panel [(expanded)]="panelExpandStatus[2]" (expandedChange)="expandPanel(2, $event)">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <b>Form 3 &nbsp;-&nbsp;</b> Nested FormGroups using FormBuilder + Validations
        </mat-panel-title>
        <mat-panel-description>
            ( using [formGroup], [formGroupName], [formControlName] and patchValue(...) )
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex justify-content-between">

        <div class="panel-content">
            <h2>Demo</h2>
            <div class="form-div form-div-medium">

                <form [formGroup]="form3" (ngSubmit)="submitForm3()">

                    <div [formGroupName]="'item'" class="field-group-div row">
                        <div class="col-sm-3">
                            <label>Item:</label>
                        </div>
                        <div class="col-sm-9">

                            <div class="field-div row mt-0">
                                <div class="col-sm-3">
                                    <label matTooltip="{{itemCodeToolTip}}" matTooltipClass="mat-tooltip">Code:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" [formControlName]="'itemCode'">
                                </div>
                                <div *ngIf="form3.get('item.itemCode')?.invalid && (form3.get('item.itemCode')?.dirty || form3.get('item.itemCode')?.touched)" class="invalid-field">
                                    <div *ngIf="form3.get('item.itemCode')?.errors?.required">
                                        Item Code is a mandatory field.
                                    </div>
                                </div>
                            </div>

                            <div class="field-div row">
                                <div class="col-sm-3">
                                    <label matTooltip="{{itemNameToolTip}}" matTooltipClass="mat-tooltip">Name:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" [formControlName]="'itemName'">
                                </div>
                                <div *ngIf="form3.get('item.itemName')?.invalid && (form3.get('item.itemName')?.dirty || form3.get('item.itemName')?.touched)" class="invalid-field">
                                    <div *ngIf="form3.get('item.itemName')?.errors?.maxlength">
                                        Item Name must have less than or equal 10 characters.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="field-div row">
                        <div class="col-sm-3">
                            <label matTooltip="{{quantityToolTip}}" matTooltipClass="mat-tooltip">Quantity:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="number" [formControlName]="'quantity'" (keyup)="form3QuantityChanged()" (change)="form3QuantityChanged()">
                        </div>
                        <div *ngIf="form3.get('quantity')?.invalid && (form3.get('quantity')?.dirty || form3.get('quantity')?.touched)" class="invalid-field">
                            <div *ngIf="form3.get('quantity')?.errors?.required">
                                Quantity is a mandatory field.
                            </div>
                            <div *ngIf="form3.get('quantity')?.errors?.min">
                                Quantity must be greater than 0.
                            </div>
                            <div *ngIf="form3.get('quantity')?.errors?.max">
                                Quantity must be less than or equal 1000.
                            </div>
                        </div>
                    </div>

                    <div class="field-div row">
                        <div class="col-sm-3">
                            <label matTooltip="{{commentToolTip}}" matTooltipClass="mat-tooltip">Comment:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" [formControlName]="'comment'">
                        </div>
                        <div *ngIf="form3.get('comment')?.invalid && (form3.get('comment')?.dirty || form3.get('comment')?.touched)" class="invalid-field">
                            <div *ngIf="form3.get('comment')?.errors?.required">
                                Comment is a mandatory field when Quantity is greater than or equal 500.
                            </div>
                        </div>
                    </div>

                    <div class="button-div d-flex justify-content-end">
                        <button type="submit" mat-raised-button color="accent" [disabled]="form3.invalid" class="submit-btn">Submit</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="panel-content">
            <h2>Code</h2>
            <div class="form-code-div form-code-div-medium">
                <span>{{form3Code}}</span>
            </div>
        </div>

    </div>
</mat-expansion-panel>

<!-- ============= Form 4 ============= -->
<mat-expansion-panel [(expanded)]="panelExpandStatus[3]" (expandedChange)="expandPanel(3, $event)">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <b>Form 4 &nbsp;-&nbsp;</b> FormArray + Validations
        </mat-panel-title>
        <mat-panel-description>
            ( using [formGroup], [formArrayName], [formGroupName], [formControlName] and patchValue(...) )
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex justify-content-between">
        <div class="panel-content">
            <h2>Demo</h2>
            <div class="form-div form-div-large">

                <form [formGroup]="form4" (ngSubmit)="submitForm4()">
                    <div class="field-div row item-count-div">

                        <div class="col-sm-3">
                            <label matTooltip="{{itemCountToolTip}}" matTooltipClass="mat-tooltip">Item Count:</label>
                        </div>

                        <div class="col-sm-7">
                            <input type="number" [formControlName]="'itemCount'">
                            <div *ngIf="form4.get('itemCount')?.invalid && (form4.get('itemCount')?.dirty || form4.get('itemCount')?.touched)" class="invalid-field">
                                <div *ngIf="form4.get('itemCount')?.errors?.required">
                                    Item Count is a mandatory field.
                                </div>
                                <div *ngIf="form4.get('itemCount')?.errors?.min">
                                    Item Count must be greater than 0.
                                </div>
                                <div *ngIf="form4.get('itemCount')?.errors?.max">
                                    Item Count must be less than or equal 5.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" mat-icon-button color="accent" (click)="refreshItemList()" [disabled]="form4.get('itemCount')?.invalid" class="item-list-refresh-btn" aria-label="refresh item list">
                                <mat-icon>cached</mat-icon>
                            </button>
                        </div>

                    </div>

                    <div [formArrayName]="'items'">
                        <div *ngFor="let iem of items.controls; let i=index" class="item-div">
                            <div [formGroupName]="i">

                                <div class="field-div row mt-3">
                                    <div class="col-sm-3">
                                        <label matTooltip="{{itemCodeToolTip}}" matTooltipClass="mat-tooltip">Item-{{i+1}} Code:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" [formControlName]="'itemCode'">
                                    </div>
                                    <div *ngIf="getItemFormGroup(i)?.get('itemCode')?.invalid && (getItemFormGroup(i)?.get('itemCode')?.dirty || getItemFormGroup(i)?.get('itemCode')?.touched)" class="invalid-field">
                                        <div *ngIf="getItemFormGroup(i)?.get('itemCode')?.errors?.required">
                                            Item Code is a mandatory field.
                                        </div>
                                    </div>
                                </div>

                                <div class="field-div row">
                                    <div class="col-sm-3">
                                        <label matTooltip="{{quantityToolTip}}" matTooltipClass="mat-tooltip">Quantity:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="number" [formControlName]="'quantity'" (keyup)="form4QuantityChanged(i)" (change)="form4QuantityChanged(i)">
                                    </div>
                                    <div *ngIf="getItemFormGroup(i)?.get('quantity')?.invalid && (getItemFormGroup(i)?.get('quantity')?.dirty || getItemFormGroup(i)?.get('quantity')?.touched)" class="invalid-field">
                                        <div *ngIf="getItemFormGroup(i)?.get('quantity')?.errors?.required">
                                            Quantity is a mandatory field.
                                        </div>
                                        <div *ngIf="getItemFormGroup(i)?.get('quantity')?.errors?.min">
                                            Quantity must be greater than 0.
                                        </div>
                                        <div *ngIf="getItemFormGroup(i)?.get('quantity')?.errors?.max">
                                            Quantity must be less than or equal 1000.
                                        </div>
                                    </div>
                                </div>

                                <div class="field-div row">
                                    <div class="col-sm-3">
                                        <label matTooltip="{{commentToolTip}}" matTooltipClass="mat-tooltip">Comment:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" [formControlName]="'comment'">
                                    </div>
                                    <div *ngIf="getItemFormGroup(i)?.get('comment')?.invalid && (getItemFormGroup(i)?.get('comment')?.dirty || getItemFormGroup(i)?.get('comment')?.touched)" class="invalid-field">
                                        <div *ngIf="getItemFormGroup(i)?.get('comment')?.errors?.required">
                                            Comment is a mandatory field when Quantity is greater than or equal 500.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="button-div d-flex justify-content-end">
                        <button type="submit" mat-raised-button color="accent" [disabled]="form4.invalid" class="submit-btn">Submit</button>
                    </div>

                </form>

            </div>
        </div>

        <div class="panel-content">
            <h2>Code</h2>
            <div class="form-code-div form-code-div-large">
                <span>{{form4Code}}</span>
            </div>
        </div>

    </div>
</mat-expansion-panel>
