mat-expansion-panel{
  margin: 50px;
  box-shadow: 0 0 7px 0px #000000 !important;
}

.mat-expansion-panel-header,  .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header:hover{
  background: #ab2552;
  height: 50px;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: #ab2552;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background: #ab2552;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-grow: 0;
  margin-right: 25px;
}

.mat-expansion-panel-header-title {
  color: white;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.mat-expansion-panel-header-description  {
  color: white !important;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/deep/ .mat-expansion-indicator::after{
  color: white !important;
}

mat-expansion-panel {
  background-color: #ada5a8 !important;
  color: #5d2d3e;
}

.panel-content{
  width: calc(50% - 50px);
  padding: 15px;
}

.form-div, .form-code-div{
  padding: 15px 35px;
  width: 100%;
  border: 1px solid black;
  border-radius: 25px;
  overflow: scroll;
  background: white;
}

.form-div-small, .form-code-div-small{
  height: 290px;
}

.form-div-medium, .form-code-div-medium{
  height: 350px;
}

.form-div-large, .form-code-div-large{
  height: 370px;
}

.form-code-div{
  white-space: pre;
  font-family: monospace;
  font-size: 12px;
}

.field-div{
  height: 50px;
  margin-top: 15px;
}

.field-group-div{
  margin-top: 15px;
}

label, input{
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #5d2d3e;
}

input{
  padding: 0px 10px;
}

.invalid-field{
  color: red;
  font-style: italic;
  margin-top: 5px;
  font-size: 11px;
  text-align: right;
}

.button-div{
  margin-top: 15px;
}

.item-list-refresh-btn{
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.item-count-div{
  padding: 0px 10px;
}

.item-div{
  border: 1px solid #dedede;
  border-radius: 15px;
  padding: 5px 10px 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}
