pdf-viewer {
  display: block;
}

.my-information{
  height: fit-content;
  width: calc(100% - 100px);
  margin: 0px 50px 30px 50px;
  background-color: #e0e0e0;
  border: 5px solid #ffc107;
  border-radius: 50px;
  padding: 30px 30px;
}

.field-row{
  font-size: 20px;
  height: 40px;
  margin: 15px;

  div{
    line-height: 40px;
    background-color: #bb8f0a24;
    padding-left: 100px;
  }
}
