<h1 class="page-title"> About Me </h1>

<div class="my-information">

    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Name :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">R. M. Dilanka Madushan Rathnayake</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Contact Number :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">+94 71 294 0207</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">E-Mail :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">dilankamr@gmail.com</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">LinkedIn :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl"><a
                    href="https://lk.linkedin.com/in/dilankamr">https://lk.linkedin.com/in/dilankamr</a></label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Home Address :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">18/66, Pinnalanda Gardens, Pipeline Road, Badulla, Sri Lanka</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Date of Birth :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">07 November 1991</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Marital Status :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">Single</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Work Experience :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">5 Years</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Education Qualification :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">B.Sc. [Honors] Engineering – Specialization in Computer Engineering</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">University :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">University of Peradeniya, Sri Lanka</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Year of Passing :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">2016</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Study Period :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">4 years full time</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Available to Join :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">Immediately</label>
        </div>
    </div>
    <div class="field-row row">
        <div class="col-sm-4">
            <label class="field-lbl">Notice Period :</label>
        </div>
        <div class="col-sm-8">
            <label class="value-lbl">2 Weeks</label>
        </div>
    </div>
</div>

<div class="pdf-container">
    <pdf-viewer [src]="cv_src" [original-size]="true" [render-text]="true"></pdf-viewer>
</div>
